body {
  margin: 0;
  padding: 0;
  background: #F8F8FF;
}
img {
  max-width: 400px;
  display: block;
  margin: 0 auto;

}
.nav {
  background-color: #444;
  padding: 0;
  margin: 0;
}
.nav ul {
  list-style: none;
  text-align: center;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #A9A9A9;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
/* Anime & Manga Guides Index */
.questions {
  -webkit-column-count: 1;
  column-count: 2;
}
.anime {
  color:Crimson;
  font-size:16px;
  font-family:Comic Sans MS;
  font-weight: bold;
}
/* Guides */
.guides {
  background-color: #8B008B;
  padding: 0;
  margin: 0;
}
.guides ul{
  list-style: none;
  text-align: center;

}
.guides li{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
.guides a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.guides a:hover {
  background-color: #A9A9A9;
  color:#fff;
  text-decoration:underline;
}

.guides a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
/* Genre */
.genre ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.genre li {
  float: center;
}

.genre li a {
  display: block;
  padding: 8px;
  background-color: #ffff;
}

/* Footer */
footer {
  background-color:#444;
  text-decoration: none;
  color:white;
  padding: 10px;
  display: block;
  text-align: center;
  justify-content: center;
}
footer a:hover{
  color: #ccc;
}

footer a.active{
  color: white;

}
@media screen and (min-width: 900px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }
  .questions {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .guides li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }


  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

}


